/* 
 * Main layouts
 */

.parent {
    -fx-background-color: #e9e9e9;
}

.sidebar {
    -fx-background-color: #e0a22b;
}

.headerlabel {
    -fx-font-size: 24pt;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: #222221;
    -fx-opacity: 1;
}

.orangenumberlabel {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #bd7d00;
    -fx-opacity: 1;
}

/* 
 * For registerbutton
 */

.registertext {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold", Helvetica, Arial, sans-serif;
    -fx-text-fill: #222221;
    -fx-opacity: 1;
    -fx-background-color: transparent;
}

.registertext:hover {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold", Helvetica, Arial, sans-serif;
    -fx-text-fill: #bd7d00;
    -fx-opacity: 1;
    -fx-background-color: transparent;
}

.registertext:pressed, .registertext:default:hover:pressed {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold", Helvetica, Arial, sans-serif;
    -fx-text-fill: white;
    -fx-opacity: 1;
    -fx-background-color: transparent;
}

/* 
 * For login button
 */

.logreg_button {
    -fx-padding: 5 22 5 22;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #222221;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.returnbutton {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold", Helvetica, Arial, sans-serif;
    -fx-text-fill: #222221;
    -fx-opacity: 1;
    -fx-background-color: transparent;
}

.returnbutton:hover {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold", Helvetica, Arial, sans-serif;
    -fx-text-fill: #bd7d00;
    -fx-opacity: 1;
    -fx-background-color: transparent;
}

.trashbutton:pressed, .returnbutton:default:hover:pressed {
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

.trashbutton {
    -fx-background-color: transparent;
}

.trashbutton:hover {
    -fx-text-fill: #222221;
    -fx-background-color: transparent;
}

.trashbutton:pressed, .trashbutton:default:hover:pressed {
    -fx-text-fill: white;
    -fx-opacity: 1;
    -fx-background-color: transparent;
}

.logreg_button:hover {
    -fx-background-color: #e0a22b;
}

.logreg_button:pressed {
    -fx-background-color: white;
    -fx-text-fill: #222221;
}

.star {
    -fx-fill: #e0a22b;
}

.closeback_button:hover {
    -fx-fill: #e0a22b;
    -fx-background-color: transparent;
}

.closeback_button:pressed {
    -fx-fill: white;
    -fx-background-color: transparent;
}

.trash_button {
    -fx-fill: #e0a22b;
    -fx-background-color: transparent;
}

.trash_button:hover {
    -fx-fill: #222221;
    -fx-background-color: transparent;
}

.trash_button:pressed {
    -fx-fill: white;
    -fx-background-color: transparent;
}

.reg_error-message {
    -fx-font-size: 8pt;
    -fx-font-family: "Verdana", sans-serif;
    -fx-width: 179;
    -fx-text-fill: #cd0000;
}

.text-field {
    -fx-font-size: 11pt;
}

.whitetext {
    -fx-font-family: Helvetica, sans-serif;
    -fx-font-size: 12pt;
    -fx-text-fill: #e1e1e1;
}

.calcfont {
    -fx-font-family: Helvetica, sans-serif;
    -fx-font-size: 10pt;
}

.smallblacktext {
    -fx-font-family: Helvetica, sans-serif;
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
    -fx-text-fill: #222221;
}

.blacktext {
    -fx-font-family: Helvetica, sans-serif;
    -fx-font-size: 12pt;
    -fx-text-fill: #222221;
}

.miniwhitetext {
    -fx-font-family: Helvetica, sans-serif;
    -fx-font-size: 8pt;
    -fx-text-fill: #e1e1e1;
}

.progressindicator {
    -fx-progress-color: #ff8c00;
}

.cardpane-layout {
    -fx-border-width: 2px;
    -fx-border-color: #e0a22b;
}

.mdl-layout {
    -fx-background-color: transparent;
    -fx-border-width: 2px;
    -fx-border-color: transparent transparent #e0a22b transparent;
}

.progress-indicator {}

.progress-indicator .indicator {
    -fx-background-color: -fx-box-border, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 1 0 -1 0, 0, 1, 2;
    -fx-padding: 0.083333em;
    /* 1 */
}

.progress-indicator .progress {
    -fx-background-color: linear-gradient(to bottom, derive(-fx-accent, 38%), derive(-fx-accent, -60%)), linear-gradient(to bottom, derive(-fx-accent, 38%), -fx-accent);
    -fx-background-insets: 0, 1;
    -fx-padding: 0.75em;
    /* 9 */
}

.progress-indicator .tick {
    -fx-background-color: -fx-mark-color, #155e5e;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0em;
    /* 5 */
    -fx-scale-shape: false;
}

.progress-indicator:indeterminate .spinner {
    -fx-padding: 0.833333em;
    /* 10 */
}

.progress-indicator .percentage {
    -fx-font-size: 0.916667em;
    /* 11pt - 1 less than the default font */
}

.progress-indicator:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.indeterminate {
    -fx-opacity: 0.55;
    -fx-stroke: linear-gradient(from 0.0% 0.0% to 70.0% 70.0%, circleindicator-color 70.0%, white 75.0%, white);